.fa-briefcase {
  color: green;
}

.fa-home{
  color: green;
}

.fa-envelope {
  color: green;
}

.fa-phone {
  color: green;
}

.fa-asterisk{
  color: green;
}

.fa-globe{
  color: green;
}

.fa-suitcase{
  color: green;
}

.fa-calendar{
  color: green;
}

.fa-calendar{
  color: green;
}

.fa-certificate{
  color: green;
}